.dsa-portrait {
  --dsa-portrait--size-small: 2rem;
  --dsa-portrait--size-medium: 3.5rem;
  --dsa-portrait--size-large: 5rem;
  --dsa-portrait--ring-width: var(--ks-border-width-default);
  --dsa-portrait--ring-color: var(--ks-border-color-default);
  --dsa-portrait--placeholder: var(--ks-background-color-bold);
}
