.dsa-quote {
  --dsa-quote--padding: var(--ks-spacing-inset-m);
  --dsa-quote--gap: var(--ks-spacing-stack-s);
  --dsa-quote--border-color: var(--ks-border-color-default);
  --dsa-quote--border-width: var(--ks-border-width-default);
}
