.dsa-filter-flyout {
  --dsa-filter-flyout--trigger-padding: var(--ks-spacing-inset-s);
  --dsa-filter-flyout--panel-padding: var(--ks-spacing-inset-m);
  --dsa-filter-flyout--panel-width: 14rem;
  --dsa-filter-flyout--option-gap: var(--ks-spacing-stack-s);
  --dsa-filter-flyout--border-width: var(--ks-border-width-default);
  --dsa-filter-flyout--border-color: var(--ks-border-color-default);
  --dsa-filter-flyout--trigger-background: var(--ks-background-color-default);
  --dsa-filter-flyout--panel-background: var(--ks-background-color-card);
}
