.dsa-article-teaser {
  --dsa-article-teaser--padding: var(--ks-spacing-inset-l);
  --dsa-article-teaser--gap: var(--ks-spacing-stack-s);
  --dsa-article-teaser--background: var(--ks-background-color-card);
  --dsa-article-teaser--border-color: var(--ks-border-color-default);
  --dsa-article-teaser--border-width: var(--ks-border-width-default);
}
