:root {
  --ks-background-color-accent-base: var(--ks-color-fg-to-bg-9);
  --ks-background-color-accent-inverted-base: var(--ks-color-primary-inverted-to-bg-8);

  --ks-background-color-bold-base: var(--ks-color-primary-to-bg-6);
  --ks-background-color-bold-inverted-base: var(--ks-color-primary-inverted-to-bg-6);

  --ks-background-color-clear-base: var(--ks-color-transparent);
  --ks-background-color-clear-inverted-base: var(--ks-color-transparent);

  --ks-background-color-clear-interactive-base: var(--ks-color-transparent);
  --ks-background-color-clear-inverted-interactive-base: var(--ks-color-transparent);

  --ks-background-color-clear-interactive-hover-base: var(--ks-color-primary-alpha-8);
  --ks-background-color-clear-inverted-interactive-hover-base: var(--ks-color-primary-inverted-alpha-7);

  --ks-background-color-clear-interactive-active-base: var(--ks-color-primary-alpha-7);
  --ks-background-color-clear-inverted-interactive-active-base: var(--ks-color-primary-inverted-alpha-6);

  --ks-background-color-clear-interactive-selected-base: var(--ks-color-primary-alpha-6);
  --ks-background-color-clear-inverted-interactive-selected-base: var(--ks-color-primary-inverted-alpha-5);

  --ks-background-color-default-base: var(--ks-color-bg);
  --ks-background-color-default-inverted-base: var(--ks-color-bg-inverted);

  --ks-background-color-interface-base: var(--ks-color-fg-alpha-9);
  --ks-background-color-interface-inverted-base: var(--ks-color-fg-inverted-alpha-9);

  --ks-background-color-interface-interactive-base: var(--ks-color-fg-alpha-8);
  --ks-background-color-interface-inverted-interactive-base: var(--ks-color-fg-inverted-alpha-8);

  --ks-background-color-interface-interactive-disabled-base: var(--ks-color-fg-alpha-9);
  --ks-background-color-interface-inverted-interactive-disabled-base: var(--ks-color-fg-inverted-alpha-9);

  --ks-background-color-interface-interactive-hover-base: var(--ks-color-fg-alpha-7);
  --ks-background-color-interface-inverted-interactive-hover-base: var(--ks-color-fg-inverted-alpha-6);

  --ks-background-color-interface-interactive-active-base: var(--ks-color-fg-alpha-6);
  --ks-background-color-interface-inverted-interactive-active-base: var(--ks-color-fg-inverted-alpha-6);

  --ks-background-color-interface-interactive-selected-base: var(--ks-color-primary);
  --ks-background-color-interface-inverted-interactive-selected-base: var(--ks-color-primary-inverted);

  --ks-background-color-card-base: var(--ks-color-primary-alpha-8);
  --ks-background-color-card-inverted-base: var(--ks-color-primary-inverted-alpha-8);

  --ks-background-color-card-interactive-base: var(--ks-color-bg);
  --ks-background-color-card-inverted-interactive-base: var(--ks-color-bg-inverted);

  --ks-background-color-card-interactive-disabled-base: var(--ks-color-bg-alpha-7);
  --ks-background-color-card-inverted-interactive-disabled-base: var(--ks-color-fg-inverted-alpha-7);

  --ks-background-color-card-interactive-hover-base: var(--ks-color-bg);
  --ks-background-color-card-inverted-interactive-hover-base: var(--ks-color-bg-inverted);

  --ks-background-color-card-interactive-active-base: var(--ks-color-bg-alpha-9);
  --ks-background-color-card-inverted-interactive-active-base: var(--ks-color-fg-inverted-alpha-9);

  --ks-background-color-card-interactive-selected-base: var(--ks-color-bg);
  --ks-background-color-card-inverted-interactive-selected-base: var(--ks-color-primary-inverted);

  --ks-background-color-primary-base: var(--ks-color-primary);
  --ks-background-color-primary-inverted-base: var(--ks-color-primary-inverted);

  --ks-background-color-primary-interactive-base: var(--ks-color-primary);
  --ks-background-color-primary-inverted-interactive-base: var(--ks-color-primary-inverted);

  --ks-background-color-primary-interactive-hover-base: var(--ks-color-primary-to-bg-2);
  --ks-background-color-primary-inverted-interactive-hover-base: var(--ks-color-primary-inverted-to-bg-2);

  --ks-background-color-primary-interactive-active-base: var(--ks-color-primary-to-bg-2);
  --ks-background-color-primary-inverted-interactive-active-base: var(--ks-color-primary-inverted-to-bg-2);

  --ks-background-color-primary-interactive-selected-base: var(--ks-color-primary-to-bg-4);
  --ks-background-color-primary-inverted-interactive-selected-base: var(--ks-color-primary-inverted-to-bg-4);

  --ks-background-color-primary-translucent-base: var(--ks-color-primary-alpha-5);
  --ks-background-color-primary-inverted-translucent-base: var(--ks-color-primary-inverted-alpha-5);

  --ks-background-color-positive-base: var(--ks-color-positive);
  --ks-background-color-positive-inverted-base: var(--ks-color-positive-inverted);

  --ks-background-color-positive-interactive-base: var(--ks-color-positive);
  --ks-background-color-positive-inverted-interactive-base: var(--ks-color-positive-inverted);

  --ks-background-color-positive-interactive-hover-base: var(--ks-color-positive-to-bg-2);
  --ks-background-color-positive-inverted-interactive-hover-base: var(--ks-color-positive-inverted-to-bg-2);

  --ks-background-color-positive-interactive-active-base: var(--ks-color-positive-to-bg-2);
  --ks-background-color-positive-inverted-interactive-active-base: var(--ks-color-positive-inverted-to-bg-2);

  --ks-background-color-positive-interactive-selected-base: var(--ks-color-positive-to-bg-4);
  --ks-background-color-positive-inverted-interactive-selected-base: var(--ks-color-positive-inverted-to-bg-4);

  --ks-background-color-positive-translucent-base: var(--ks-color-positive-alpha-5);
  --ks-background-color-positive-inverted-translucent-base: var(--ks-color-positive-inverted-alpha-5);

  --ks-background-color-informative-base: var(--ks-color-informative);
  --ks-background-color-informative-inverted-base: var(--ks-color-informative-inverted);

  --ks-background-color-informative-interactive-base: var(--ks-color-informative);
  --ks-background-color-informative-inverted-interactive-base: var(--ks-color-informative-inverted);

  --ks-background-color-informative-interactive-hover-base: var(--ks-color-informative-to-bg-2);
  --ks-background-color-informative-inverted-interactive-hover-base: var(--ks-color-informative-inverted-to-bg-2);

  --ks-background-color-informative-interactive-active-base: var(--ks-color-informative-to-bg-2);
  --ks-background-color-informative-inverted-interactive-active-base: var(--ks-color-informative-inverted-to-bg-2);

  --ks-background-color-informative-interactive-selected-base: var(--ks-color-informative-to-bg-4);
  --ks-background-color-informative-inverted-interactive-selected-base: var(--ks-color-informative-inverted-to-bg-4);

  --ks-background-color-informative-translucent-base: var(--ks-color-informative-alpha-5);
  --ks-background-color-informative-inverted-translucent-base: var(--ks-color-informative-inverted-alpha-5);

  --ks-background-color-notice-base: var(--ks-color-notice);
  --ks-background-color-notice-inverted-base: var(--ks-color-notice-inverted);

  --ks-background-color-notice-interactive-base: var(--ks-color-notice);
  --ks-background-color-notice-inverted-interactive-base: var(--ks-color-notice-inverted);

  --ks-background-color-notice-interactive-hover-base: var(--ks-color-notice-to-bg-2);
  --ks-background-color-notice-inverted-interactive-hover-base: var(--ks-color-notice-inverted-to-bg-2);

  --ks-background-color-notice-interactive-active-base: var(--ks-color-notice-to-bg-2);
  --ks-background-color-notice-inverted-interactive-active-base: var(--ks-color-notice-inverted-to-bg-2);

  --ks-background-color-notice-interactive-selected-base: var(--ks-color-notice-to-bg-4);
  --ks-background-color-notice-inverted-interactive-selected-base: var(--ks-color-notice-inverted-to-bg-4);

  --ks-background-color-notice-translucent-base: var(--ks-color-notice-alpha-5);
  --ks-background-color-notice-inverted-translucent-base: var(--ks-color-notice-inverted-alpha-5);

  --ks-background-color-negative-base: var(--ks-color-negative);
  --ks-background-color-negative-inverted-base: var(--ks-color-negative-inverted);

  --ks-background-color-negative-interactive-base: var(--ks-color-negative);
  --ks-background-color-negative-inverted-interactive-base: var(--ks-color-negative-inverted);

  --ks-background-color-negative-interactive-hover-base: var(--ks-color-negative-to-bg-2);
  --ks-background-color-negative-inverted-interactive-hover-base: var(--ks-color-negative-inverted-to-bg-2);

  --ks-background-color-negative-interactive-active-base: var(--ks-color-negative-to-bg-2);
  --ks-background-color-negative-inverted-interactive-active-base: var(--ks-color-negative-inverted-to-bg-2);

  --ks-background-color-negative-interactive-selected-base: var(--ks-color-negative-to-bg-4);
  --ks-background-color-negative-inverted-interactive-selected-base: var(--ks-color-negative-inverted-to-bg-4);

  --ks-background-color-negative-translucent-base: var(--ks-color-negative-alpha-5);
  --ks-background-color-negative-inverted-translucent-base: var(--ks-color-negative-inverted-alpha-5);
}

:root {
  --ks-background-color-accent: var(--ks-background-color-accent-base);
  --ks-background-color-accent-inverted: var(--ks-background-color-accent-inverted-base);

  --ks-background-color-bold: var(--ks-background-color-bold-base);
  --ks-background-color-bold-inverted: var(--ks-background-color-bold-inverted-base);

  --ks-background-color-clear: var(--ks-background-color-clear-base);
  --ks-background-color-clear-inverted: var(--ks-background-color-clear-inverted-base);

  --ks-background-color-clear-interactive: var(--ks-background-color-clear-interactive-base);
  --ks-background-color-clear-inverted-interactive: var(--ks-background-color-clear-inverted-interactive-base);

  --ks-background-color-clear-interactive-hover: var(--ks-background-color-clear-interactive-hover-base);
  --ks-background-color-clear-inverted-interactive-hover: var(
    --ks-background-color-clear-inverted-interactive-hover-base
  );

  --ks-background-color-clear-interactive-active: var(--ks-background-color-clear-interactive-active-base);
  --ks-background-color-clear-inverted-interactive-active: var(
    --ks-background-color-clear-inverted-interactive-active-base
  );

  --ks-background-color-clear-interactive-selected: var(--ks-background-color-clear-interactive-selected-base);
  --ks-background-color-clear-inverted-interactive-selected: var(
    --ks-background-color-clear-inverted-interactive-selected-base
  );

  --ks-background-color-default: var(--ks-background-color-default-base);
  --ks-background-color-default-inverted: var(--ks-background-color-default-inverted-base);

  --ks-background-color-interface: var(--ks-background-color-interface-base);
  --ks-background-color-interface-inverted: var(--ks-background-color-interface-inverted-base);

  --ks-background-color-interface-interactive: var(--ks-background-color-interface-interactive-base);
  --ks-background-color-interface-inverted-interactive: var(--ks-background-color-interface-inverted-interactive-base);

  --ks-background-color-interface-interactive-disabled: var(--ks-background-color-interface-interactive-disabled-base);
  --ks-background-color-interface-inverted-interactive-disabled: var(
    --ks-background-color-interface-inverted-interactive-disabled-base
  );

  --ks-background-color-interface-interactive-hover: var(--ks-background-color-interface-interactive-hover-base);
  --ks-background-color-interface-inverted-interactive-hover: var(
    --ks-background-color-interface-inverted-interactive-hover-base
  );

  --ks-background-color-interface-interactive-active: var(--ks-background-color-interface-interactive-active-base);
  --ks-background-color-interface-inverted-interactive-active: var(
    --ks-background-color-interface-inverted-interactive-active-base
  );

  --ks-background-color-interface-interactive-selected: var(--ks-background-color-interface-interactive-selected-base);
  --ks-background-color-interface-inverted-interactive-selected: var(
    --ks-background-color-interface-inverted-interactive-selected-base
  );

  --ks-background-color-card: var(--ks-background-color-card-base);
  --ks-background-color-card-inverted: var(--ks-background-color-card-inverted-base);

  --ks-background-color-card-interactive: var(--ks-background-color-card-interactive-base);
  --ks-background-color-card-inverted-interactive: var(--ks-background-color-card-inverted-interactive-base);

  --ks-background-color-card-interactive-disabled: var(--ks-background-color-card-interactive-disabled-base);
  --ks-background-color-card-inverted-interactive-disabled: var(
    --ks-background-color-card-inverted-interactive-disabled-base
  );

  --ks-background-color-card-interactive-hover: var(--ks-background-color-card-interactive-hover-base);
  --ks-background-color-card-inverted-interactive-hover: var(
    --ks-background-color-card-inverted-interactive-hover-base
  );

  --ks-background-color-card-interactive-active: var(--ks-background-color-card-interactive-active-base);
  --ks-background-color-card-inverted-interactive-active: var(
    --ks-background-color-card-inverted-interactive-active-base
  );

  --ks-background-color-card-interactive-selected: var(--ks-background-color-card-interactive-selected-base);
  --ks-background-color-card-inverted-interactive-selected: var(
    --ks-background-color-card-inverted-interactive-selected-base
  );

  --ks-background-color-primary: var(--ks-background-color-primary-base);
  --ks-background-color-primary-inverted: var(--ks-background-color-primary-inverted-base);

  --ks-background-color-primary-interactive: var(--ks-background-color-primary-interactive-base);
  --ks-background-color-primary-inverted-interactive: var(--ks-background-color-primary-inverted-interactive-base);

  --ks-background-color-primary-interactive-hover: var(--ks-background-color-primary-interactive-hover-base);
  --ks-background-color-primary-inverted-interactive-hover: var(
    --ks-background-color-primary-inverted-interactive-hover-base
  );

  --ks-background-color-primary-interactive-active: var(--ks-background-color-primary-interactive-active-base);
  --ks-background-color-primary-inverted-interactive-active: var(
    --ks-background-color-primary-inverted-interactive-active-base
  );

  --ks-background-color-primary-interactive-selected: var(--ks-background-color-primary-interactive-selected-base);
  --ks-background-color-primary-inverted-interactive-selected: var(
    --ks-background-color-primary-inverted-interactive-selected-base
  );

  --ks-background-color-primary-translucent: var(--ks-background-color-primary-translucent-base);
  --ks-background-color-primary-inverted-translucent: var(--ks-background-color-primary-inverted-translucent-base);

  --ks-background-color-positive: var(--ks-background-color-positive-base);
  --ks-background-color-positive-inverted: var(--ks-background-color-positive-inverted-base);

  --ks-background-color-positive-interactive: var(--ks-background-color-positive-interactive-base);
  --ks-background-color-positive-inverted-interactive: var(--ks-background-color-positive-inverted-interactive-base);

  --ks-background-color-positive-interactive-hover: var(--ks-background-color-positive-interactive-hover-base);
  --ks-background-color-positive-inverted-interactive-hover: var(
    --ks-background-color-positive-inverted-interactive-hover-base
  );

  --ks-background-color-positive-interactive-active: var(--ks-background-color-positive-interactive-active-base);
  --ks-background-color-positive-inverted-interactive-active: var(
    --ks-background-color-positive-inverted-interactive-active-base
  );

  --ks-background-color-positive-interactive-selected: var(--ks-background-color-positive-interactive-selected-base);
  --ks-background-color-positive-inverted-interactive-selected: var(
    --ks-background-color-positive-inverted-interactive-selected-base
  );

  --ks-background-color-positive-translucent: var(--ks-background-color-positive-translucent-base);
  --ks-background-color-positive-inverted-translucent: var(--ks-background-color-positive-inverted-translucent-base);

  --ks-background-color-informative: var(--ks-background-color-informative-base);
  --ks-background-color-informative-inverted: var(--ks-background-color-informative-inverted-base);

  --ks-background-color-informative-interactive: var(--ks-background-color-informative-interactive-base);
  --ks-background-color-informative-inverted-interactive: var(
    --ks-background-color-informative-inverted-interactive-base
  );

  --ks-background-color-informative-interactive-hover: var(--ks-background-color-informative-interactive-hover-base);
  --ks-background-color-informative-inverted-interactive-hover: var(
    --ks-background-color-informative-inverted-interactive-hover-base
  );

  --ks-background-color-informative-interactive-active: var(--ks-background-color-informative-interactive-active-base);
  --ks-background-color-informative-inverted-interactive-active: var(
    --ks-background-color-informative-inverted-interactive-active-base
  );

  --ks-background-color-informative-interactive-selected: var(
    --ks-background-color-informative-interactive-selected-base
  );
  --ks-background-color-informative-inverted-interactive-selected: var(
    --ks-background-color-informative-inverted-interactive-selected-base
  );

  --ks-background-color-informative-translucent: var(--ks-background-color-informative-translucent-base);
  --ks-background-color-informative-inverted-translucent: var(
    --ks-background-color-informative-inverted-translucent-base
  );

  --ks-background-color-notice: var(--ks-background-color-notice-base);
  --ks-background-color-notice-inverted: var(--ks-background-color-notice-inverted-base);

  --ks-background-color-notice-interactive: var(--ks-background-color-notice-interactive-base);
  --ks-background-color-notice-inverted-interactive: var(--ks-background-color-notice-inverted-interactive-base);

  --ks-background-color-notice-interactive-hover: var(--ks-background-color-notice-interactive-hover-base);
  --ks-background-color-notice-inverted-interactive-hover: var(
    --ks-background-color-notice-inverted-interactive-hover-base
  );

  --ks-background-color-notice-interactive-active: var(--ks-background-color-notice-interactive-active-base);
  --ks-background-color-notice-inverted-interactive-active: var(
    --ks-background-color-notice-inverted-interactive-active-base
  );

  --ks-background-color-notice-interactive-selected: var(--ks-background-color-notice-interactive-selected-base);
  --ks-background-color-notice-inverted-interactive-selected: var(
    --ks-background-color-notice-inverted-interactive-selected-base
  );

  --ks-background-color-notice-translucent: var(--ks-background-color-notice-translucent-base);
  --ks-background-color-notice-inverted-translucent: var(--ks-background-color-notice-inverted-translucent-base);

  --ks-background-color-negative: var(--ks-background-color-negative-base);
  --ks-background-color-negative-inverted: var(--ks-background-color-negative-inverted-base);

  --ks-background-color-negative-interactive: var(--ks-background-color-negative-interactive-base);
  --ks-background-color-negative-inverted-interactive: var(--ks-background-color-negative-inverted-interactive-base);

  --ks-background-color-negative-interactive-hover: var(--ks-background-color-negative-interactive-hover-base);
  --ks-background-color-negative-inverted-interactive-hover: var(
    --ks-background-color-negative-inverted-interactive-hover-base
  );

  --ks-background-color-negative-interactive-active: var(--ks-background-color-negative-interactive-active-base);
  --ks-background-color-negative-inverted-interactive-active: var(
    --ks-background-color-negative-inverted-interactive-active-base
  );

  --ks-background-color-negative-interactive-selected: var(--ks-background-color-negative-interactive-selected-base);
  --ks-background-color-negative-inverted-interactive-selected: var(
    --ks-background-color-negative-inverted-interactive-selected-base
  );

  --ks-background-color-negative-translucent: var(--ks-background-color-negative-translucent-base);
  --ks-background-color-negative-inverted-translucent: var(--ks-background-color-negative-inverted-translucent-base);
}

[ks-inverted="true"] {
  --ks-background-color-accent: var(--ks-background-color-accent-inverted-base);
  --ks-background-color-accent-inverted: var(--ks-background-color-accent-base);

  --ks-background-color-bold: var(--ks-background-color-bold-inverted-base);
  --ks-background-color-bold-inverted: var(--ks-background-color-bold-base);

  --ks-background-color-clear: var(--ks-background-color-clear-inverted-base);
  --ks-background-color-clear-inverted: var(--ks-background-color-clear-base);

  --ks-background-color-clear-interactive: var(--ks-background-color-clear-inverted-interactive-base);
  --ks-background-color-clear-inverted-interactive: var(--ks-background-color-clear-interactive-base);

  --ks-background-color-clear-interactive-hover: var(--ks-background-color-clear-inverted-interactive-hover-base);
  --ks-background-color-clear-inverted-interactive-hover: var(--ks-background-color-clear-interactive-hover-base);

  --ks-background-color-clear-interactive-active: var(--ks-background-color-clear-inverted-interactive-active-base);
  --ks-background-color-clear-inverted-interactive-active: var(--ks-background-color-clear-interactive-active-base);

  --ks-background-color-clear-interactive-selected: var(--ks-background-color-clear-inverted-interactive-selected-base);
  --ks-background-color-clear-inverted-interactive-selected: var(--ks-background-color-clear-interactive-selected-base);

  --ks-background-color-default: var(--ks-background-color-default-inverted-base);
  --ks-background-color-default-inverted: var(--ks-background-color-default-base);

  --ks-background-color-interface: var(--ks-background-color-interface-inverted-base);
  --ks-background-color-interface-inverted: var(--ks-background-color-interface-base);

  --ks-background-color-interface-interactive: var(--ks-background-color-interface-inverted-interactive-base);
  --ks-background-color-interface-inverted-interactive: var(--ks-background-color-interface-interactive-base);

  --ks-background-color-interface-interactive-disabled: var(
    --ks-background-color-interface-inverted-interactive-disabled-base
  );
  --ks-background-color-interface-inverted-interactive-disabled: var(
    --ks-background-color-interface-interactive-disabled-base
  );

  --ks-background-color-interface-interactive-hover: var(
    --ks-background-color-interface-inverted-interactive-hover-base
  );
  --ks-background-color-interface-inverted-interactive-hover: var(
    --ks-background-color-interface-interactive-hover-base
  );

  --ks-background-color-interface-interactive-active: var(
    --ks-background-color-interface-inverted-interactive-active-base
  );
  --ks-background-color-interface-inverted-interactive-active: var(
    --ks-background-color-interface-interactive-active-base
  );

  --ks-background-color-interface-interactive-selected: var(
    --ks-background-color-interface-inverted-interactive-selected-base
  );
  --ks-background-color-interface-inverted-interactive-selected: var(
    --ks-background-color-interface-interactive-selected-base
  );

  --ks-background-color-card: var(--ks-background-color-card-inverted-base);
  --ks-background-color-card-inverted: var(--ks-background-color-card-base);

  --ks-background-color-card-interactive: var(--ks-background-color-card-inverted-interactive-base);
  --ks-background-color-card-inverted-interactive: var(--ks-background-color-card-interactive-base);

  --ks-background-color-card-interactive-disabled: var(--ks-background-color-card-inverted-interactive-disabled-base);
  --ks-background-color-card-inverted-interactive-disabled: var(--ks-background-color-card-interactive-disabled-base);

  --ks-background-color-card-interactive-hover: var(--ks-background-color-card-inverted-interactive-hover-base);
  --ks-background-color-card-inverted-interactive-hover: var(--ks-background-color-card-interactive-hover-base);

  --ks-background-color-card-interactive-active: var(--ks-background-color-card-inverted-interactive-active-base);
  --ks-background-color-card-inverted-interactive-active: var(--ks-background-color-card-interactive-active-base);

  --ks-background-color-card-interactive-selected: var(--ks-background-color-card-inverted-interactive-selected-base);
  --ks-background-color-card-inverted-interactive-selected: var(--ks-background-color-card-interactive-selected-base);

  --ks-background-color-primary: var(--ks-background-color-primary-inverted-base);
  --ks-background-color-primary-inverted: var(--ks-background-color-primary-base);

  --ks-background-color-primary-interactive: var(--ks-background-color-primary-inverted-interactive-base);
  --ks-background-color-primary-inverted-interactive: var(--ks-background-color-primary-interactive-base);

  --ks-background-color-primary-interactive-hover: var(--ks-background-color-primary-inverted-interactive-hover-base);
  --ks-background-color-primary-inverted-interactive-hover: var(--ks-background-color-primary-interactive-hover-base);

  --ks-background-color-primary-interactive-active: var(--ks-background-color-primary-inverted-interactive-active-base);
  --ks-background-color-primary-inverted-interactive-active: var(--ks-background-color-primary-interactive-active-base);

  --ks-background-color-primary-interactive-selected: var(
    --ks-background-color-primary-inverted-interactive-selected-base
  );
  --ks-background-color-primary-inverted-interactive-selected: var(
    --ks-background-color-primary-interactive-selected-base
  );

  --ks-background-color-primary-translucent: var(--ks-background-color-primary-inverted-translucent-base);
  --ks-background-color-primary-inverted-translucent: var(--ks-background-color-primary-translucent-base);

  --ks-background-color-positive: var(--ks-background-color-positive-inverted-base);
  --ks-background-color-positive-inverted: var(--ks-background-color-positive-base);

  --ks-background-color-positive-interactive: var(--ks-background-color-positive-inverted-interactive-base);
  --ks-background-color-positive-inverted-interactive: var(--ks-background-color-positive-interactive-base);

  --ks-background-color-positive-interactive-hover: var(--ks-background-color-positive-inverted-interactive-hover-base);
  --ks-background-color-positive-inverted-interactive-hover: var(--ks-background-color-positive-interactive-hover-base);

  --ks-background-color-positive-interactive-active: var(
    --ks-background-color-positive-inverted-interactive-active-base
  );
  --ks-background-color-positive-inverted-interactive-active: var(
    --ks-background-color-positive-interactive-active-base
  );

  --ks-background-color-positive-interactive-selected: var(
    --ks-background-color-positive-inverted-interactive-selected-base
  );
  --ks-background-color-positive-inverted-interactive-selected: var(
    --ks-background-color-positive-interactive-selected-base
  );

  --ks-background-color-positive-translucent: var(--ks-background-color-positive-inverted-translucent-base);
  --ks-background-color-positive-inverted-translucent: var(--ks-background-color-positive-translucent-base);

  --ks-background-color-informative: var(--ks-background-color-informative-inverted-base);
  --ks-background-color-informative-inverted: var(--ks-background-color-informative-base);

  --ks-background-color-informative-interactive: var(--ks-background-color-informative-inverted-interactive-base);
  --ks-background-color-informative-inverted-interactive: var(--ks-background-color-informative-interactive-base);

  --ks-background-color-informative-interactive-hover: var(
    --ks-background-color-informative-inverted-interactive-hover-base
  );
  --ks-background-color-informative-inverted-interactive-hover: var(
    --ks-background-color-informative-interactive-hover-base
  );

  --ks-background-color-informative-interactive-active: var(
    --ks-background-color-informative-inverted-interactive-active-base
  );
  --ks-background-color-informative-inverted-interactive-active: var(
    --ks-background-color-informative-interactive-active-base
  );

  --ks-background-color-informative-interactive-selected: var(
    --ks-background-color-informative-inverted-interactive-selected-base
  );
  --ks-background-color-informative-inverted-interactive-selected: var(
    --ks-background-color-informative-interactive-selected-base
  );

  --ks-background-color-informative-translucent: var(--ks-background-color-informative-inverted-translucent-base);
  --ks-background-color-informative-inverted-translucent: var(--ks-background-color-informative-translucent-base);

  --ks-background-color-notice: var(--ks-background-color-notice-inverted-base);
  --ks-background-color-notice-inverted: var(--ks-background-color-notice-base);

  --ks-background-color-notice-interactive: var(--ks-background-color-notice-inverted-interactive-base);
  --ks-background-color-notice-inverted-interactive: var(--ks-background-color-notice-interactive-base);

  --ks-background-color-notice-interactive-hover: var(--ks-background-color-notice-inverted-interactive-hover-base);
  --ks-background-color-notice-inverted-interactive-hover: var(--ks-background-color-notice-interactive-hover-base);

  --ks-background-color-notice-interactive-active: var(--ks-background-color-notice-inverted-interactive-active-base);
  --ks-background-color-notice-inverted-interactive-active: var(--ks-background-color-notice-interactive-active-base);

  --ks-background-color-notice-interactive-selected: var(
    --ks-background-color-notice-inverted-interactive-selected-base
  );
  --ks-background-color-notice-inverted-interactive-selected: var(
    --ks-background-color-notice-interactive-selected-base
  );

  --ks-background-color-notice-translucent: var(--ks-background-color-notice-inverted-translucent-base);
  --ks-background-color-notice-inverted-translucent: var(--ks-background-color-notice-translucent-base);

  --ks-background-color-negative: var(--ks-background-color-negative-inverted-base);
  --ks-background-color-negative-inverted: var(--ks-background-color-negative-base);

  --ks-background-color-negative-interactive: var(--ks-background-color-negative-inverted-interactive-base);
  --ks-background-color-negative-inverted-interactive: var(--ks-background-color-negative-interactive-base);

  --ks-background-color-negative-interactive-hover: var(--ks-background-color-negative-inverted-interactive-hover-base);
  --ks-background-color-negative-inverted-interactive-hover: var(--ks-background-color-negative-interactive-hover-base);

  --ks-background-color-negative-interactive-active: var(
    --ks-background-color-negative-inverted-interactive-active-base
  );
  --ks-background-color-negative-inverted-interactive-active: var(
    --ks-background-color-negative-interactive-active-base
  );

  --ks-background-color-negative-interactive-selected: var(
    --ks-background-color-negative-inverted-interactive-selected-base
  );
  --ks-background-color-negative-inverted-interactive-selected: var(
    --ks-background-color-negative-interactive-selected-base
  );

  --ks-background-color-negative-translucent: var(--ks-background-color-negative-inverted-translucent-base);
  --ks-background-color-negative-inverted-translucent: var(--ks-background-color-negative-translucent-base);
}
