:root,
[ks-inverted] {
  --ks-border-divider: var(--ks-border-width-default) solid var(--ks-border-color-interface);
  --ks-border-card: var(--ks-border-width-default) solid var(--ks-border-color-card);
  --ks-border-card-interactive: var(--ks-border-width-default) solid var(--ks-border-color-card-interactive);
  --ks-border-control: var(--ks-border-width-default) solid var(--ks-border-color-interface);
  --ks-border-surface: var(--ks-border-width-default) solid var(--ks-border-color-surface);

  --ks-border-width-default: var(--ks-brand-border-width-default);
  --ks-border-width-emphasized: var(--ks-brand-border-width-emphasized);

  /*
    Border-radius scaling:
    If --ks-brand-border-radius-factor is 1, border-radius = 0 (no radius)
    If --ks-brand-border-radius-factor is 2, border-radius = 2 × --ks-spacing-m
    Formula: (factor - 1) * 2 * spacing-m
  */
  --ks-border-radius-control: calc((var(--ks-brand-border-radius-factor) - 1) * 3 * var(--ks-spacing-m) * 0.25);
  --ks-border-radius-card: calc((var(--ks-brand-border-radius-factor) - 1) * 3 * var(--ks-spacing-m) * 0.5);
  --ks-border-radius-surface: calc((var(--ks-brand-border-radius-factor) - 1) * 3 * var(--ks-spacing-m) * 0.75);
  --ks-border-radius-pill: 999px;
  --ks-border-radius-circle: 50%;
}
