.dsa-rating-stars {
  --dsa-rating-stars--gap: var(--ks-spacing-inline-xxs);
  --dsa-rating-stars--star-size: 1.125rem;
  --dsa-rating-stars--filled: var(--ks-background-color-notice);
  --dsa-rating-stars--empty: var(--ks-background-color-bold);
}
